<%= form_for @team, html: { multipart: true } do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("http://i.imgur.com/MU0WvC7.png", size: "300x50"), root_path, class: "navbar-brand", style: "margin-left: 5px; padding-top:0px;" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Leaderboard', leaderboard_path %></li>
        <li><%= link_to "My Teams", teams_path %></li>
        <li><%= link_to "Upload Team", new_team_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


    <div class="col-md-5 col-md-offset-3">

  <div class="container2">
    <h1>New Team</h1>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
      <% if @team.image.exists? %>
        <img id="file" src="<%= @team.image.url %>">
      <% else %>
        <img id="file" src="#" alt="team image" style="display: none">
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :event %><br>
      <%= f.text_field :event, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :notes %><br>
      <%= f.text_area :notes, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>

      <% if @team.result -%>
        <%= link_to 'Edit result', edit_team_result_path(@team), class: 'btn btn-danger', role: 'button' %>
      <% else -%>
        <%= link_to 'Add result', new_team_result_path(@team), class: 'btn btn-danger', role: 'button' if @team.persisted? %>
      <% end -%>
     </div>
  </div>
</div>
  
<% end %>
