<div class="container">
<h4>Upload new team by just taking a sceen shot of your lineup <%= link_to 'Upload New Lineup', new_team_path, class: "btn btn-primary" %></h4>

<p id="notice"><%= notice %></p>

    <% @teams.each do |team| %>

  <div class="col-md-12">
     <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading">
       <%= link_to 'View', team , class: "btn btn-primary", style: "margin-right:5px; margin-left:10px;" %>
        <%= link_to 'Edit', edit_team_path(team), class: "btn btn-danger", style: "margin-right:5px;" %>
       <%= link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success btn", style: "margin-right:5px;" %>
         
       </div>
     
        <%= image_tag team.image.url(:medium) %>
      </div> 
      </div>
     
       <div class="col-md-6">  

    <div class="panel panel-default">
      <div class="panel-heading"><%= link_to team.result.nil? ? 'Add Results' : 'Edit Results',
                      team.result.nil? ? new_team_result_path(team) : edit_team_result_path(team),
                      class: "btn btn-success btn btn-sm", style: "margin-right:5px;"%></div>
        <%= image_tag team.result.image.url(:medium) if !team.result.nil? %>
     </div> 
      </div>
        </div>
          </div>
  

      
    <% end %>

    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60459974-1', 'auto');
  ga('send', 'pageview');

</script>





