<div class="container3">

<p id="notice"><%= notice %></p>

    <% @teams.each do |team| %>

  <div class="col-md-12">
     <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading">
       <%= link_to 'View', team , class: "btn btn-primary btn btn-sm", style: "margin-right:5px; margin-left:10px;" %>
        <%= link_to 'Edit', edit_team_path(team), class: "btn btn-danger btn btn-sm fa fa-edit", style: "margin-right:5px;" %>
       <%= link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success btn btn-sm fa fa-trash", style: "margin-right:5px;" %>
         
       </div>
     
        <%= image_tag team.image.url(:medium) %>
      </div> 
      </div>
     
       <div class="col-md-6">  

    <div class="panel panel-default">
      <div class="panel-heading"><%= link_to team.result.nil? ? 'Add Results' : 'Edit Results',
                      team.result.nil? ? new_team_result_path(team) : edit_team_result_path(team),
                      class: "btn btn-success btn btn-sm", style: "margin-right:5px;"%></div>
        <%= image_tag team.result.image.url(:medium) if !team.result.nil? %>
     </div> 
      </div>
        </div>
          </div>
  

      
    <% end %>

    






