<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("http://i.imgur.com/MU0WvC7.png", size: "300x50"), root_path, class: "navbar-brand", style: "margin-left: 5px; padding-top:0px;" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Leaderboard', leaderboard_path %></li>
        <li><%= link_to "My Teams", teams_path %></li>
        <li><%= link_to "Upload Team", new_team_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container3">

<p id="notice"><%= notice %></p>

    <% @teams.each do |team| %>


     <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading">
       <%= link_to 'View Team', team , class: "btn btn-primary btn btn-sm", style: "margin-right:5px; margin-left:10px;" %>
        <%= link_to '', edit_team_path(team), class: "btn btn-info btn btn-sm fa fa-edit", style: "margin-right:5px;" %>
       <%= link_to '', team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn btn-sm fa fa-trash", style: "margin-right:5px;" %>
         
       </div>
     
        <%= image_tag team.image.url(:medium) %>
      </div> 
      </div>
     
       <div class="col-md-6">  

    <div class="panel panel-default">
      <div class="panel-heading"><%= link_to team.result.nil? ? 'Add Results' : 'Edit Results',
                      team.result.nil? ? new_team_result_path(team) : edit_team_result_path(team),
                      class: "btn btn-danger btn btn-sm", style: "margin-right:5px;"%></div>
        <%= image_tag team.result.image.url(:medium) if !team.result.nil? %>
     </div> 
     </div>
     </div>
  

      
    <% end %>

    






