<p id="notice"><%= notice %></p>

  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default2">
      <div class="panel-heading">
        <h4>Devin's Team</h4>

        <%= image_tag @team.image.url %>

        <div class="alert alert-success " >
          <strong>Notes:</strong>
          <%= simple_format(@team.notes) %>
        </div>

        <% if @team.result && @team.result.image.exists? %>
        <%= image_tag @team.result.image.url %>

        <div class="alert alert-success " >
          <strong>Notes:</strong>
          <%= simple_format(@team.result.notes) %>
          <strong>Score:</strong>
          <%= @team.result.score %>
        </div>
        <% end %>

        <%= link_to 'Edit', edit_team_path(@team), class: "btn btn-danger" %> |
        <%= link_to 'Back', teams_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>

