<%= render '/shared/header' %>



<div class="container2">

<h1> NBA Leaderboard </h1>

</div>


 <p>
 <%= link_to 'NBA', leaderboard_path, class: "btn btn-primary" %>
 <%= link_to 'NFL', nfl_leaderboard_path, class: "btn btn-primary" %>
 <%= link_to 'MLB', mlb_leaderboard_path, class: "btn btn-primary" %>
 <%= link_to 'Soccer', soccer_leaderboard_path, class: "btn btn-primary" %>
 <%= link_to 'March Madness', march_madness_leaderboard_path, class: "btn btn-primary" %>
 <%= link_to 'NHL', nhl_leaderboard_path, class: "btn btn-primary" %>

 </p>
 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th></th>
        <th>Username</th>
        <th>Average Score</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each_with_index do |user, index| -%>
      <tr>
        <td><%= index + 1 %></td>
        <td><img src="<%= user.profile_image.url (:thumb) %>"></td> 
        <td><%= user.email %></td>
        <td><%= user.avarage_score.round(1) %></td>
        <td><%= link_to 'View Profile', user_detail_path(user), class: "btn btn-success" %></td>
      </tr>
    <% end -%>
    </tbody>
  </table>
</div>
