<%= render '/shared/header' %>

<div class="container">
<% if user_signed_in? %>
<h4>1. Get started by setting up your profile, then upload your lineups for today <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-success" %></h4>

<h4>2. Once the games are over, go to  <%= link_to 'My teams', teams_path, class: "btn btn-primary" %> and click  "add results" to prove your score</h4>
<% end %>
<div class="jumbotron">



<h2> NBA Leaderboard </h2>
</br>

 <p>
   <%= link_to 'NBA', leaderboard_path, class: "btn btn-success" %>
   <%= link_to 'NFL', nfl_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'MLB', mlb_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'Soccer', soccer_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'March Madness', march_madness_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'NHL', nhl_leaderboard_path, class: "btn btn-primary" %>
 </p>

</div>

</div>


 <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
  <table class="table table-responsive table-striped">
  <tr>
  <th>Rank</th>
  <th></th>
  <th>Username</th>
  <th>Average Score</th>
  <th>Total Lineups Submitted</th>
  <th></th>
  </tr>
    <% @users.each_with_index do |user, index| -%>
      <tr>
        <td><h2><%= index + 1 %></h2></td>
        <td>
          <%= link_to leaderboard_profile_path(user), remote: true do %>
            <%= image_tag user.profile_image.url(:thumb), class: 'img-circle', width: '100' %>
          <% end %>
        </td>
        <td><%= user.username %></td>
        <td><%= user.avarage_score.round(1) %></td>
        <td><%= user.teams.joins(:result).count %></td>
        <td><%= link_to 'View Profile', user_detail_path(user), class: "btn btn-danger", data: { no_turbolink: true } %></td>
      </tr>
    <% end -%>
    </tbody>
  </table>
</div>
</div>



<div class="modal fade" id="dialog-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Fanalyst Info</h4>
      </div>
      <div id="profile" class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60459974-1', 'auto');
  ga('send', 'pageview');

</script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
