<%= render '/shared/header' %>

<div class="container2">
  <h1>Daily Fantasy Sports NBA Leaderboard</h1>
   <h4>Learn from and follow the best DFS managers</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each_with_index do |user, index| -%>
      <tr>
        <td><%= index + 1 %></td>
        <td><img src="<%= user.profile_image.url (:thumb) %>"></td>
        <td><%= user.email %></td>
        <td><%= user.avarage_score.round(1) %></td>
        <td><%= link_to '', user_detail_path(user), class: "btn btn-primary fa fa-bars" %></td>
      </tr>
    <% end -%>
    </tbody>
  </table>
</div>
