<%= render '/shared/header' %>

<div class="container2">
<div class="jumbotron">



<h2> NBA Leaderboard </h2>
</br>

 <p>
   <%= link_to 'NBA', leaderboard_path, class: "btn btn-success" %>
   <%= link_to 'NFL', nfl_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'MLB', mlb_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'Soccer', soccer_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'March Madness', march_madness_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'NHL', nhl_leaderboard_path, class: "btn btn-primary" %>
 </p>

</div>

</div>


 <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
  <table class="table table-responsive table-striped">
  
   
    <% @users.each_with_index do |user, index| -%>
      <tr>
        <td><h2><%= index + 1 %></h2></td>
        <td>
          <%= link_to leaderboard_profile_path(user), remote: true do %>
            <%= image_tag user.profile_image.url(:thumb), class: 'img-circle', width: '100' %>
          <% end %>
        </td>
        <td><%= user.username %></td>
        <td><%= user.avarage_score.round(1) %></td>
        <td><%= link_to 'View Profile', user_detail_path(user), class: "btn btn-success" %></td>
      </tr>
    <% end -%>
    </tbody>
  </table>
</div>
</div>



<div class="modal fade" id="dialog-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Fanalyst Info</h4>
      </div>
      <div id="profile" class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
