<div class="container2">
<div class="jumbotron">



<h2> NFL Coming Soon! </h2>
</br>

 <p>
   <%= link_to 'NBA', leaderboard_path, class: "btn btn-success" %>
   <%= link_to 'NFL', nfl_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'MLB', mlb_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'Soccer', soccer_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'March Madness', march_madness_leaderboard_path, class: "btn btn-primary" %>
   <%= link_to 'NHL', nhl_leaderboard_path, class: "btn btn-primary" %>
 </p>

</div>

</div>

  <div class="panel-default">
  <iframe width="196" height="135" src="https://www.onlinecountdowns.com/w/141024" frameborder="0"></iframe>
  </div>
</div>

