<%= render '/shared/header' %>
<div class="container2">
  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:error] %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Attention:</span>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="container">
                    <center>
                      <img src="<%= @user.profile_image.url(:thumb) if !@user.profile_image.nil? %>" width="100" border="0" class="img-circle">
                      <h3 class="media-heading"><%= @user.email %></h3>
                      <span><strong>Sports: </strong></span>
                      <span class="label label-default">NBA</span>
                      <span class="label label-default">NFL</span>
                      <span class="label label-default">Soccer</span>
                      <span><strong>Teams: </strong></span>
                      <span class="label label-danger">Hawks</span>
                      <span class="label label-danger">Braves</span>
                    </center>
                    <hr>
                    <center>
                      <div class="col-md-5 col-md-offset-4">
                      <p class="text-left"><strong>Bio: </strong><br>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                      <br>
                    </center>
                </div>
               

  <div class="container3">
    <img src="<%= @user.profile_image.url(:thumb) if !@user.profile_image.nil? %>" width="100">
    <h3> <%= @user.email %></h3>
    <h3>Rank: 4</h3>
    <h4>Avg. Score: 289</h4>
  </div>  


  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-6">

        <% if !user_signed_in? %>
           PLease sign in / sign up to see more details about this user
        <% elsif @teams %>
          <ul>
            <% @teams.each do |team| -%>
              <li>
                <%= image_tag team.image(:thumb)%><br>
                <%= team.notes %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <%= form_tag charges_path do %>
            <%= hidden_field_tag :subcription_user_id, @user.id %>
            <%= hidden_field_tag :price, @user.price %>

            <article>
             <h4>4 lineups</h4>
              <label class="amount">
                <span>Amount: <%= number_to_currency(@user.price.round(2)) %></span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="12h of full access."
                    data-amount="<%= (@user.price.round(2)*100).to_i %>"></script>
          <% end %>

        <% end %>
       
        </div>
      </div>
    </div>
    <div class="col-xs-6">
    <h2>Previous Lineups</h2>
     
        <% @results.each do |result| -%>

      
          <%= result.score %><br>
          <%= image_tag result.image %><br>
          <%= result.notes %>

       
     
        <% end %>
     
    </div>
  </div>
</div>
