<%= render '/shared/header' %>

<div class="row">
  <div class="jumbtron">
    <div class="col-lg-5 col-md-6">
  

      <div class="media">
        <a class="pull-left" href="#">
          <%= image_tag(@user.profile_image.url(:thumb), width: '100', border: '0', class: 'media-object dp img-circle img-responsive') if !@user.profile_image.nil? %>
        </a>

        <div class="media-body">
          <h2 class="media-heading"><%= @user.current_rank %></h2>
          <h5><%= @user.username %></h5>
          <hr style="margin:8px auto">

          <span><strong></strong></span>
          <% @user.sport_list.each do |item| %>
            <span class="label label-default"><%= item %></span>
          <% end %>
          <span><strong></strong></span>
          <% @user.favorite_team_list.each do |item| %>
            <span class="label label-default"><%= item %></span>
          <% end %>
          <h5 class"text-center"> <%= @user.bio %> </h5>
          <h6>
            Nr. of teams: <%= @user.teams.joins(:result).count %>
          </h6>
          <img src="http://i.imgur.com/NvA8aEN.png" alt="Daily Fantasy Lineups" style="width:420px;height:300px">
        </div>
      </div>
    </div>
  </div> 
  
   
       
      
            <div class="panel panel-heading">
              <h4>Tonight's Lineups</h4>
              <label class="amount">
                <span><%= number_to_currency(@user.price.round(2)) %></span></br>
              </label>

              <% if user_signed_in? %>
                <%= render 'stripe_button' %>
              <% else %>
                <p>You should <%= link_to 'Sign in', new_user_session_path, class: "btn-danger btn-sm" %> or
                <%= link_to 'Sign up', new_user_registration_path, class: "btn-success btn-sm"  %> to purchase lineups</p>
              <% end %>

            </div>

            <% if user_signed_in? %>
              <% if @teams.nil? %>
                 <img src="http://i.imgur.com/hly7cdk.png" alt="Daily Fantasy Lineups" style="width:350px;height:460px">
              <% else %>
                <ul>
                  <% @teams.each do |team| -%>    
                    <%= image_tag team.image(:medium) %><br>
                    <%= team.notes %>
                  <% end %>
                </ul>
              <% end %>
            <% else %>
              <img src="http://i.imgur.com/hly7cdk.png" alt="Daily Fantasy Lineups" style="width:350px;height:460px">
            <% end %>

          </div>
        </div>


        
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        
    
        <div class="row">
            <div class="col-md-9">
                <h3>
                    Lineup History</h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic"
                            data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                     <% @results.each do |result| -%>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag result.image(:medium) %>
                                </div>

                                 

                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                <%= result.score.round(1) %></h5>
                                            <h5 class="price-text-color">
                                               <%= result.notes %></h5>
                                        </div>
                                       
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <% end %>

                        
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Next Sample Product</h5>
                                            <h5 class="price-text-color">
                                                $149.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            
                                            <h5 class="price-text-color">
                                                $199.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Grouped Product</h5>
                                            <h5 class="price-text-color">
                                                $249.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Product with Variants</h5>
                                            <h5 class="price-text-color">
                                                $149.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60459974-1', 'auto');
  ga('send', 'pageview');

</script>
