<%= render '/shared/header' %>


<section id="t-cards">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-md-offset-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="http://i.imgur.com/gFygfiS.png" />
                      
                    </div>
                    <div class="panel-figure">
                        <%= image_tag(@user.profile_image.url(:thumb), width: '100', border: '0', class: 'img-circle img-responsive') if !@user.profile_image.nil? %>
                    </div>
                    <div class="panel-body text-center">
                        <h4><%= @user.email %></h4>
                        <p>Rank: <%= @user.current_rank %></p>
                        <div class="alert alert-warning">
                        <p> <%= @user.bio %> </p>
                        </div>
                         <h4>Avg. Score:<%= @user.avarage_score.round(1) %></h4>
                       <span><strong>Sports: </strong></span>
                      <% @user.sport_list.each do |item| %>
                     <span class="label label-default"><%= item %></span>
                    <% end %>
                   <span><strong>Teams: </strong></span>
                  <% @user.favorite_team_list.each do |item| %>
                 <span class="label label-primary"><%= item %></span>
                 <% end %>
                    </div>
                    

                    </div>
                </div>  
              
               </div>
              </div>
            </div>  

<div class="container2">
  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:error] %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Attention:</span>
      <%= flash[:alert] %>
    </div>
  <% end %>

      
 
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="row">
        <div class="col-xs-6">

        <% if !user_signed_in? %>
           PLease sign in / sign up to see more details about this user
        <% elsif @teams %>
          <ul>
            <% @teams.each do |team| -%>
              <li>
                <%= image_tag team.image(:thumb)%><br>
                <%= team.notes %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <%= form_tag charges_path do %>
            <%= hidden_field_tag :subcription_user_id, @user.id %>
            <%= hidden_field_tag :price, @user.price %>

            <article>
             <h4>Pay to view tonight's lineups</h4>
              <label class="amount">
                <span>Amount: <%= number_to_currency(@user.price.round(2)) %></span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="12h of full access."
                    data-amount="<%= (@user.price.round(2)*100).to_i %>"></script>
          <% end %>

        <% end %>
       
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-7 col-md-offset-3 col-sm-6">
     <div class="panel-default">
       <div class="panel panel-heading">
        <h2>Previous Lineups</h2>
         </div>
      
        <% @results.each do |result| -%>

      
          <%= result.score %><br>
          <%= image_tag result.image %><br>
          <%= result.notes %>

       
     
        <% end %>
     
    </div>
  </div>
</div>
</div>
