<%= render '/shared/header' %>



<div class="row">
  <div class="jumbtron">
    <div class="col-lg-5 col-md-6 col-md-offset-3">
      <div class="media">
        <a class="pull-left" href="#">
          <%= image_tag(@user.profile_image.url(:thumb), width: '100', border: '0', class: 'media-object dp img-circle img-responsive') if !@user.profile_image.nil? %>
        </a>

        <div class="media-body">
          <h2 class="media-heading"><%= @user.current_rank %></h2>
          <h5><%= @user.username %></h5>
          <hr style="margin:8px auto">

          <span><strong></strong></span>
          <% @user.sport_list.each do |item| %>
            <span class="label label-default"><%= item %></span>
          <% end %>
          <span><strong></strong></span>
          <% @user.favorite_team_list.each do |item| %>
            <span class="label label-default"><%= item %></span>
          <% end %>
          <h5 class"text-center"> <%= @user.bio %> </h5>
          <h6>
            Nr. of teams: <%= @user.teams.joins(:result).count %>
          </h6>


        </div>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col-md-12">
        <div class="col-xs-12 col-md-5">
          <div class="box">
            <div class="panel panel-heading">
              <h4>Tonight's Lineups</h4>
              <label class="amount">
                <span><%= number_to_currency(@user.price.round(2)) %></span></br>
              </label>

              <% if user_signed_in? %>
                <%= render 'stripe_button' %>
              <% else %>
                <p>You should <%= link_to 'Sign in', new_user_session_path, class: "btn-danger btn-sm" %> or
                <%= link_to 'Sign up', new_user_registration_path, class: "btn-success btn-sm"  %> to purchase lineups</p>
              <% end %>

            </div>

            <img src="http://i.imgur.com/hly7cdk.png" alt="Daily Fantasy Lineups" style="width:350px;height:460px">

            <% if !user_signed_in? %>
              
            <% elsif @teams %>
              <ul>
                <% @teams.each do |team| -%>
                  <li>
                    <%= image_tag team.image(:thumb) %><br>
                    <%= team.notes %>
                  </li>
                <% end %>
              </ul>


            <% end %>

          </div>
        </div>


        <div class="col-xs-12 col-md-7 col-sm-6">

          <div class="box">
            <h4 class="text-center">Previous Lineups</h4>

            <p>Avg. Score:<%= @user.avarage_score.round(1) %></p>


            <% @results.each do |result| -%>


              <%= result.score.round(1) %><br>
              <%= image_tag result.image(:medium) %><br>
              <%= result.notes %>


            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60459974-1', 'auto');
  ga('send', 'pageview');

</script>
