<!DOCTYPE html>
<html>
<head>
  <title>Fanalyst | Daily Fantasy Experts</title>
  <meta content="Learn from and follow the best daily fantasy players" name="description" />
  <meta content="daily fantasy lineups, fantasy sports, best fantasy players" name="keywords" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'images/favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>

    <%= render 'shared/messages' %>

    <%= yield %>
  </div>
</body>
</html>


